.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20 3 3 / 65%); /* greyish transparent */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* very high to block everything */
    pointer-events: all;
  }
  
  .loader {
    
    padding: 2rem 3rem;
    
    text-align: center;
  }
  
  .spinner {
    width: 48px;
    height: 48px;
    border: 6px solid #e5e7eb;
    border-top: 6px solid #6366f1; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  .message {
    margin-top: 1rem;
    color: #FFFF; 
    font-size: 1rem;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  